.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
_main.Rmd
rmd/homework/Week-05/q1
rmd/homework/Week-05/q1_prior
rmd/homework/Week-05/q2_prior
rmd/homework/Week-05/q2
rmd/homework/Week-05/q3
rmd/homework/Week-06/q1_prior
rmd/homework/Week-06/q1
rmd/homework/Week-06/q1_department
rmd/homework/Week-06/q1_discipline
rmd/homework/Week-07/model1
rmd/homework/Week-07/model1_threads
rmd/homework/Week-07/model1_interactions_threads
_main_cache/
rmd/homework/Week-07/model2_threads
rmd/homework/Week-07/model2_age_threads
rmd/homework/Week-08/model_frogs_1_threads
rmd/homework/Week-07/model2_gender_threads
rmd/homework/Week-08/model_frogs_2_threads
rmd/homework/Week-08/model_frogs_3_threads
rmd/homework/Week-08/model_frogs_4_threads
rmd/homework/Week-08/model_bang_multi_threads
rmd/homework/Week-08/model_bang_fixed_threads
rmd/homework/Week-08/model_trolley_threads
rmd/homework/Week-08/model_trolley_multi_threads
